:root{
    --white-fond: #ffffff5a;
    --white:#ffffff; 
    --dark-red:#800000;
    --red: #ff0005cc;
    --black: #000000; 
}

*{
    box-sizing: border-box;
}

#mainHeader{
    height: 100px;
    position: fixed;
    top: 0;
}

/* couleur de fond du mainHeader */
#mainHeader, #mainTitle > h2{
    background-color: var(--red);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-font-smoothing: auto;
    display: flex;
}

header > img{
    float: left;
}

/*police et centrage du menu */
#mainMenu a{
    color:var(--white);
    font-size: 1.8em;
    font-family: Century Gothic;
    text-align: center;
    letter-spacing: 0.5mm;
    display: flex;
    text-decoration: none;
    margin: collapse;
}

/* couleur de survol du menu en dark brown */
#mainMenu a:hover{
    color: var(--dark-red);
    font-size: 1.8em;
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
    display: flex;
    text-decoration: none;
    padding-inline: 15px;
}


/* liens du menu à l'horizontal et espacement des liens */
#mainMenu li{
    display: inline-block;
    top: 10px;
    right: -1000px;
    padding: 1%;
}

/*images du site responsive*/
img{
    max-width: 100%;
    height: auto;
}

#galerieDeroulante{
    background-color: var(--red);
    text-align: center;
    margin: auto;
}


/* background du contenu principal en img */ 
#contenuPrincipal{
    background-image:url("../img/mainContent1.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; /* garde le fond derrière le contenu */
    align-self: flex-start;
    background-repeat: no-repeat;
}

#mainContent {
    background-color: var(--white-fond);
    display: ;
}


h1{
    color:var(--black);
    text-align:left;
    font-size: 3em;
    font-family: Century Gothic;
    font-variant: small-caps;
}


h2{
    color:var(--black);
    text-align:center;
    font-size: 24pt;
    font-family: Century Gothic;
    align-self: center;
    letter-spacing: 0.5mm;
}

#mainContent p{
    color:var(--white);
    font-size: large;
    text-align:center;
    object-position: center;
    letter-spacing: 0.5mm;
    line-height: 2cm;
    font-size: 1.6em;
    font-family: Century Gothic;
    margin: 0px 20px;
}

#articlesPresse a{
    color:var(--white);
    font-size: large;    
    text-align:center;
    object-position: center;
    letter-spacing: 0.5mm;
    line-height: 2cm;
    font-size: 1em;
    font-family: Century Gothic;
}

#articlesPresse a:hover{
    color:var(--dark-red);
    font-size: large;    
    text-align:center;
    object-position: center;
    letter-spacing: 0.5mm;
    line-height: 2cm;
    font-size: 1em;
    font-family: Century Gothic;
}

#mainFooter p{
    color:var(--black);
    display: block;
    -webkit-font-smoothing: auto;
    text-align:center;
    font-size: 0.8em;
    font-family: Century Gothic;
    background-color: var(--red);
}

#laDepeche{
    text-align: center;
}
