/* couleur de fond du mainHeader */
#mainHeader{
    background-color: red;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-font-smoothing: auto;
    display: flex;
}

header > img{
    float: left;
}

/*police et centrage du menu */
#mainMenu a{
    color:white;
    font-size: 18pt;
    font-family: Century Gothic;
    text-align: center;
    letter-spacing: 0.5mm;
    display: flex;
    text-decoration: none;
}

/* couleur de survol du menu en noir */
#mainMenu a:hover{
    color:black;
    font-size: 18pt;
    font-family: Century Gothic;
    text-align: center;
    display: flex;
    text-decoration: none;
}


/* liens du menu à l'horizontal et espacement des liens */
#mainMenu li{
    display: inline-block;
    top: 10px;
    right: -1000px;
    padding: 1%;
}

aside{
margin: 0%;
border: 0cm;
padding: 0%;
}

/* background du contenu principal en img */ 
#contenuPrincipal{
    height: 100%; width: 100%;
    background-image:url("../img/mainContent1.jpg");
    background-size: cover;
    z-index: -1; /* garde le fond derrière le contenu */
    align-self: flex-start;
    background-repeat: no-repeat;
}


h1{
    color:black;
    text-align:left;
    font-size: 35pt;
    font-family: Century Gothic;
    font-variant: small-caps;
}


h2{
    color:black;
    text-align:center;
    font-size: 24pt;
    font-family: Century Gothic;
    align-self: center;
    letter-spacing: 0.5mm;
}

#mainContent p, #articlesPresse li{
    color:whitesmoke;
    font-size: large;    
    text-align:center;
    object-position: center;
    letter-spacing: 0.5mm;
    line-height: 2cm;
    font-size: 16pt;
    font-family: Century Gothic;
}

#articlesPresse li:hover{
    color:black;
    font-size: large;    
    text-align:center;
    object-position: center;
    letter-spacing: 0.5mm;
    line-height: 2cm;
    font-size: 16pt;
    font-family: Century Gothic;
}

#mainFooter p{
    color:black;
    display: block;
    -webkit-font-smoothing: auto;
    text-align:center;
    font-size: 10pt;
    font-family: Century Gothic;
    background-color: red;
}

#instagram, #facebook{
    left: 100%;
}

#laDepeche{
    text-align: center;
}